.bg-purple{
    background-color: purple;
}

.br-purple{
    border: 1px solid purple;
}

.bb-purple{
    border-bottom: 1px solid purple;
}

.btn-purple{
    border: 1px solid purple;
    color: purple;
    font-weight: bold;
}

.btn-purple:hover{
    background-color: purple;
    color: white;
}

.btn-editar{
    background-color: purple;
    color: white;
    font-weight: bold;
}

.btn-editar:hover{
    background-color: purple;
    color: white;
}

.text-purple{
    color: purple;
}

.text-purple:hover {
    color: purple;
    font-weight: bold;
}

.bg-profile{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.profile{
    position: relative;
    margin-top: -80px;
    width: 167.5px;
    border-radius: 50%;
}